div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#commentsAppTitle {
  font-size: 24px;
  margin: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  [name="name"] {
    border: solid black;
    margin-bottom: 10px;
    width: 30%;
  };
  [name="comment"] {
    border: solid black;
    margin-bottom: 10px;
    width: 30%;
    height: 125px;
    resize: none;
  };
}

form button {
  border: solid black;
  background-color: white;
  box-shadow: 0.3em 0.3em 0 black;
}

form button:hover {
  background-color: lightgray;
}

form button:active {
  background-color: white;
  box-shadow: 0.1em 0.1em 0 black;
  transform: translateY(3px);
}

#commentCardContainer {
  flex-direction: column-reverse;
  flex-basis: 50%;
}

#commentCard {
  border: 1px solid;
  padding: 20px;
  margin: 10px;
  width: 60%;
}

.commentCardMessage {
  font-size: 16px;
  font-style: italic;
  justify-content: left;
  margin-bottom: 10px;
}

.commentCardAuthor {
  text-align: right;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.commentCardTimestamp {
  text-align: right;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}